{% extends "Layouts/base.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}
{% block head %}
    {{ parent() }}
    <style>
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}

    <h1>{{ article.title }}</h1>
    <p><strong>Publié le :</strong> {{ article.date|date("d/m/Y à H:m") }}</p> {# voir doc twig pour l'heure caractére d'echapement  #}
    <p>{{ article.content }}</p>
    <a href="/">Retour à l'accueil</a>
    <p class="important">
        Welcome to my awesome homepage.
    </p>
{% endblock %}