{% extends "Layouts/base.html.twig" %}

{% block title %}Liste des articles{% endblock %}
{% block head %}
    {{ parent() }}
    <style>
        /* Styles CSS pour la liste des articles */
    </style>
{% endblock %}

{% block content %}
    <h1>Liste des articles</h1>
    <ul class="article-list">
        {% for article in articles %}
            <li>
                <!-- Afficher l'URL générée pour chaque article -->
                <a href="{{ article.url }}">
                    {{ article.title }}
                </a>
                <p><strong>Publié le :</strong> {{ article.date|date("d/m/Y à H:i") }}</p>

                <p>{{ article.content|slice(0, 200) }}...</p>  <!-- Exemple de résumé -->

            </li>
        {% else %}
            <li>Aucun article disponible.</li>
        {% endfor %}
    </ul>

    <a href="/">Retour à l'accueil</a>
{% endblock %}
